body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #00c6ff, #0072ff);
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  justify-content: center;
}

.container {
  background: rgba(255, 255, 255, 0.15); /* semitransparente */
  padding: 40px;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
}

button {
  background-color: #ff4081;
  border: none;
  color: white;
  padding: 15px 30px;
  font-size: 1.1rem;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
button:hover {
  background-color: #f50057;
}

#mensaje {
  margin-top: 20px;
  font-size: 1.2rem;
}
